    <mat-card class="nav-bar">
        <h1> Angular App</h1>
        <mat-card-content class="nav-menu">
            <button (click)="countryApi()" mat-raised-button color="primary">Country API</button>
            <button (click)="goToLogin()" mat-raised-button color="primary">Login</button>
            <button (click)="goToRegister()" mat-raised-button color="primary">Register</button>
            <button (click)="goToTable()" mat-raised-button color="primary">Table</button>

        </mat-card-content>
    </mat-card>
<router-outlet></router-outlet>